<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddGroup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mine.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/chat.js"></script>
    <script>
        $(function () {
            const me = app.getUserGlobalInfo();
            $("#userName").text(me.userName);
            $.ajax({
                url:"/friendList",
                type:"POST",
                data:{
                    userId:me.userId
                },
                success:(res)=>{
                    let friends = $("#friends");
                    for(let i=0;i<res.length;i++)
                    {
                        let friendHtml ="<div class=\"form-check form-check-inline\">\n" +
                            "  <input class=\"form-check-input\" type=\"checkbox\" name=\"inlineCheckboxOptions\" id=\"inlineCheckbox"+res[i].userId+"\" value=\""+res[i].userId+"\">\n" +
                            "  <label class=\"form-check-label\" for=\"inlineCheckbox"+res[i].userId+"\">"+res[i].userName+"</label>\n" +
                            "</div>";
                        friends.append(friendHtml);
                    }
                }

            });
        })
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#" id="userName"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/FriendList">好友列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/GroupList">群聊列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AddFriend">添加好友</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/AddGroup">添加群聊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UpdateInfo">更新信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">退出登录</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--		 导航-->

    <div id="main-body">
        <div id="search-body">
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" id="searchGroupName" placeholder="search group name" aria-label="search group name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="searchButton" onclick="search()" type="button">搜索</button>
                </div>
            </div>
        </div>
        <div id="create-body">
            <form>
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" id="createGroupName" placeholder="create group name" aria-label="create group name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="createButton" onclick="create()" type="button">创建</button>
                    </div>
                </div>
                <div id="friends">

                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function create() {
        const groupName = $("#createGroupName").val();
        const me = app.getUserGlobalInfo();
        if(groupName==='')
            return false;
        let checkboxes=[];
        $("input[name='inlineCheckboxOptions']:checked").each(function(i){
            checkboxes[i] = $(this).val();
        });
        $.ajax({
            type:"post",
            url:"/createGroup",
            traditional:true,
            data:{
                checkboxes:checkboxes,
                meId: me.userId,
                groupName: groupName
            },
            success:res=>{
                alert(res);
            }

        })
    }
    function search() {
        const groupName = $("#searchGroupName").val();
        const me = app.getUserGlobalInfo();
        if(groupName==='')
            return false;
        $.ajax({
            type: "post",
            url: "/searchGroup",
            data: {
                meId: me.userId,
                groupName: groupName
            },
            success: function (data) {
                const body = $("#search-body");
                for (let i = 0; i < data.length; i++) {
                    let groupHtml =
                        "<div class=\"media mt-3\">\n" +
                        "            <img class=\"mr-4 ml-4 friend_pic\" alt=\"image\" src=\"" + data[i].groupPic + "\">\n" +
                        "            <div class=\"media-body mr-4\">\n" +
                        "                <h6 class=\"mt-1 mb-2\">" + data[i].groupName + "</h6>\n" +
                        "            </div>\n" +
                        "<button class=\"btn\" onclick=\"addGroup(" + data[i].groupId + ");\">添加群聊</button>\n" +
                        "        </div>";
                    body.append(groupHtml);
                }
            }
        });
    }
    function addGroup(groupId) {
        const me =app.getUserGlobalInfo();
        $.ajax({
            type: "post",
            url: "/GroupAdd",
            data: {
                groupId: groupId,
                userId: me.userId
            },
            success: function () {
                alert("添加群聊成功");
                location.href= "/AddGroup"
            }
        });
    }
</script>
</html>