<!DOCTYPE html>
<html lang="CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/my-login.css}" rel="stylesheet">
</head>


<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">登录</h4>
<!--							form-->
							<form id="userForm" class="my-login-validation" method="post">
								<div class="form-group">
									<label for="userName">账号</label>
									<input id="userName" type="text" class="form-control" name="userName" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">密码

									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>
								<div class="form-group m-0">
									<button type="button" class="btn btn-primary btn-block" id="btn">
										登录
									</button>
								</div>
								<div class="mt-4 text-center">
									没有账户？ <a href="/register">立即创建</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/chat.js}"></script>
	<script>
		$(function(){
			sessionStorage.clear();
			$("#btn").click(function () {
				var userName = document.getElementById("userName");
				var password = document.getElementById("password");
				$.ajax({
					type: "POST",
					url: "/doLogin",
					timeout: 10000,
					data: {
						userName: userName.value,
						password: password.value
					},
					success: function (data) {
						if (data.error != null)
							alert(data.error);
						else if (data.user != null) {
							// 前端存入用户信息
							app.setUserGlobalInfo(data.user);
							location.href = "/FriendList";
						}
					},
					error: function () {
						alert("error");
					}
				})
			})
		});
	</script>
</body>
</html>
